@font-face {
    font-family: "HarmonyOS Sans SC";
    src:url("HarmonyOS_Sans_SC_Regular.ttf");
}
@font-face {
    font-family: "HarmonyOS Sans SC Bold";
    src:url("HarmonyOS_Sans_SC_Bold.ttf");
}
@font-face {
    font-family: "HarmonyOS Sans SC Medium";
    src:url("HarmonyOS_Sans_SC_Medium.ttf");
}

.root{
    -fx-font-family: "HarmonyOS Sans SC";
}